@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap);
*{
    box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #7c73e6;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 30px;
}

.counter-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center;
}
.counter{
    font-size: 60px;
    margin-top: 10px;
}
@media(max-width :580px){
    body{
        flex-direction: column;
    }
}